.containerAbout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D7D7D9; 
    overflow-x: hidden; /* Disable vertical scroll */
    margin: 0;
}

.headerContainer {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.contactImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.titleContainer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: 'Outfit', sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    line-height: 0.9;
    color: black;
    margin: 0;
}

.lineBreak {
    display: block;
}

/* Horizontal Scroll */
.scrollContainer {
    width: 100%;
    overflow-x: auto; /* Horizontal scroll */
    display: flex;
    justify-content: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scroll-snap-type: x mandatory; /* Enable snap scroll */
    scroll-behavior: smooth; /* Smooth scroll */
}

.scrollContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.paragraphWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    scroll-snap-type: x mandatory; /* Smooth scrolling between sections */
}

.paragraphItem {
    flex: 0 0 100%; /* Full width for each paragraph */
    padding: 50px; /* Padding to prevent text from touching edges */
    scroll-snap-align: start; /* Snap to the start of each paragraph */
    box-sizing: border-box; /* Ensure padding is included in width */
}
