.containerAbout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #D7D7D9; 
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.containerAbout::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.headerContainer {
    width: 100%;
    height: 70px; /* O el tamaño que prefieras para el contenedor */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
    position: relative;
}

.contactImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubre todo el contenedor sin dejar espacios */
    position: absolute;
}

.titleContainer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-family: 'Outfit', sans-serif;
    font-size: 80px;
    font-weight: 700; /* Increased font-weight to match the boldness */
    text-align: center;
    line-height: 0.9; /* Closer line spacing to match the image */
    color: black; /* Assuming the text is black */
    margin: 0; /* Removes default margin of h1 */
}

.lineBreak {
    display: block; /* Ensures that About and Me are on separate lines */
}

.paragrahContainer{
    width: calc(100% - 100px);
}