.navbarContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vh; /* Sensible area width */
  z-index: 1000;
}

.navbar {
  font-family: var(--font-family, 'Montserrat', sans-serif);
  color: #B4B9BF;
  background-color: #1e2226;
  opacity: 0.5; /* Ajusta la opacidad */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%); /* Oculta la sidebar */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Animación suave al abrir/cerrar */
  z-index: 999; /* Asegura que esté encima del contenido */
  opacity: 0; /* Inicialmente transparente */
}

.navbar.open {
  transform: translateX(0); /* Muestra la sidebar */
  opacity: 1; /* Vuelve visible la sidebar */
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  height: 100vh; /* Asegura que el ul ocupe toda la altura para centrar verticalmente */
}

.navItem {
  font-size: 24px;
}

.navLink {
  color: #B4B9BF;
  text-decoration: none;
}

.navLink.active {
  color: #FFF; /* Color blanco cuando está activo */
}
